*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider-wrap{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  overflow: hidden;
}
.slider-wrap ul{
  list-style: none;
  width: 300%;
  height: 100%;
  position: relative;
  transition: left,1s
}
.slider-wrap li{
  float: left;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.prev{
  position: absolute;
  top:40vh;
  left:0;
  cursor: pointer;;
}
.next{
  position: absolute;
  top:40vh;
  right:0;
  cursor: pointer;
}
.dotted{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom:10px;

}
.dotted span{
  display:inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}
